<footer class="footer bg-dark text-muted py-3 mt-auto">
    <div style="padding-inline: 10px;" class="container">&copyLakshmiSrinivas
    <a class="git"style="float: right;" target="_blank" href="https://github.com/nivass2k/YelpCamp"><img width="25px" src="images/github-logo.png" alt=""> GitHub</a></div>
</footer>