.card{
    border-radius: 5%;
    width:25%;
    margin-bottom: 1%;
    margin-top: 5%;
}
.card-body{
    border-radius: 5%;
}

img{
    border-radius: 5%  
}
button{
    margin-bottom: 5%;
    margin-top: 5%;
}
@media only screen and (max-width:600px){
    .card{
        width:80%
    }
}